body {
    text-align: center;
    background-color: #011F3F;
}
#level-title {
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
    font-size: 48px;
    margin-top: 5%;
}
.container {
    display: block;
    width: 50%;
    margin: auto;
}
.btn {
    height: 200px;
    width: 200px;
    margin: 25px;
    border-radius: 20%;
    display: inline-block;
    cursor: pointer;
    border: 10px solid #000;
}
.game-over {
    background-color: red;
    opacity: 0.8;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
#highest-score {
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
    font-size: 48px;
    margin-top: 5%;
}